@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
:root {
  --ff-title: "Limelight", cursive;
  --ff-body: "Play", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(241, 251, 102, 1) 0%,
    rgba(245, 149, 114, 1) 48%,
    rgba(242, 107, 194, 1) 100%
  );

  font-family: var(--ff-body);
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: var(--ff-title);
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 3rem;
}
.add-todos {
  background-color: #fff;
  background: linear-gradient(
    90deg,
    rgba(241, 251, 251, 0.2) 0%,
    rgba(225, 249, 248, 0.2) 48%,
    rgba(212, 247, 247, 0.2) 100%
  );
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 15px 55px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-todos_input {
  padding: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--ff-body);
  font-size: 1rem;
}
.add-todos_input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.add-todos_btn {
  cursor: pointer;
  padding: 0.3rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  transition: transform 0.5s ease-in-out;
}
.add-todos_btn:hover {
  transform: rotate(90deg);
}
.todos {
  width: 25%;
}
.todos_list {
  width: 100%;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(241, 251, 251, 0.2) 0%,
    rgba(225, 249, 248, 0.2) 48%,
    rgba(212, 247, 247, 0.2) 100%
  );
  border-radius: 5px;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  list-style: none;
  font-size: 1.25rem;

  color: #ffe6f2;
}

.todos_item {
  flex: 1;
}
.complete {
  text-decoration: line-through;
  color: #ccffcc;
  opacity: 0.7;
}

.complete-btn,
.trash-btn {
  cursor: pointer;
  padding: 0.25rem;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.complete-btn:hover {
  transform: scale(1.2);
  color: #ccffcc;
}
.trash-btn:hover {
  transform: scale(1.2);
  color: #ff3300;
}
