@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./jack-b-0iaJQ4WK0BM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #ccffff;
  font-family: "Alex Brush", cursive;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 4rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
section h1 {
  font-size: 3.5rem;
  font-weight: 900;
  word-spacing: 0.75rem;
}

.timer {
  display: flex;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}
.days,
.hours,
.minutes,
.seconds {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
  }
  section h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
  }
  .timer {
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.85rem;
  }
  .days,
  .hours,
  .minutes,
  .seconds {
    margin: 0.5rem auto;
  }
}
