@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./jack-b-0iaJQ4WK0BM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  color: #ccffff;
  font-family: "Alex Brush", cursive;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
section h1 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 2rem;

  word-spacing: 0.75rem;
}
.timer {
  display: flex;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
}
.days,
.hours,
.minutes,
.seconds {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}
